{% include 'header.html' %}
<!doctype html>

<body>
    <div style="padding-top: 50px;"></div>
    <h4 style="text-align: center;">Sign your name with a message</h4>
    <div style="padding-bottom: 50px;"></div>
    <form action = "/guestbook" method = "post">
    <div style="text-align: center;"><input name="message" type="text" style="text-align:center; width: 30%;" placeholder="Your message"></div>
    <div style="padding-top: 25px;"></div>
    <div style="text-align: center;"><input name="name" type="text" style="text-align:center; width: 30%;" placeholder="Your name"></div>
    <div style="padding-top: 25px;"></div>
    <div style="text-align: center;"><input name="submit" type="submit" style="text-align:center; width: 10%;"></div>
    </form>

    <div style="padding-top: 50px;"></div>
    <h4 style="text-align: center;">Guestbook</h4>
    <div style="padding-bottom: 50px;"></div>

    {% if not empty %}
    {% for m in message %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ m[1] }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">said</h6>
          <p class="card-text">{{ m[2] }}</p>
          <a" class="card-text">Time: {{ m[0] }}</a>
        </div>
    </div>
    {% endfor %}
    
    {% else: %}

    <div style="padding-top: 50px;"></div>
    <h4 style="text-align: center;">Be the first one to write something</h4>
    <div style="padding-bottom: 50px;"></div>

    {% endif %}
</body>

</html>
{% include 'footer.html' %}


